/* ---- css is fun ----- */

body{
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.container{
    width: 30vw;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    background: #f5e8f5;
    border-radius: .5rem;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 20%;
    padding: 2rem 2rem;
}
.inputRow{
    display: flex;
    width: 100%;
    justify-content: space-between;
}
button{
    background: rgb(177, 160, 10);
    border: none;
    color:#f5e8f5;
    margin-top: 2rem;
    padding: .5rem 0;
    border-radius: .2rem;
    width: 70%;
    font-weight: bolder;
    font-size: 1rem;
    cursor: pointer;
    transition: all;
}
button:hover{
    background: hsla(54, 89%, 37%, 0.808);
    transition: all;
}
#result {
    border-radius: .3rem;
    height: 30px;
    width: 80%;
    background: #ffffff;
    text-align: center;
    display: none;
}

.warning {
    border: .5px solid salmon;
    border-radius: .7rem;
    padding: 0 1rem;
    margin: 1.5rem 0;
}

@media screen and (max-width: 600px) {
    .container {
        width: 75%;
        top: 10%;
    }
    input{
        width: 60px;
    }
    #result{
        height: auto;
        width: 100%;
    }
}